<div class="row">
    <div class="col-xs-12"> <img style="max-height: 240px;" [src]="recipeService.selectedRecipe.imagePath" alt="{{ recipeService.selectedRecipe.name }}" class="img-responsive"> </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1> {{ recipeService.selectedRecipe.name }} </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="button-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle"> 
                Manage recipes
                <span class="caret"> <!-- freccia verso il basso --> </span>
            </button>
            <ul class="dropdown-menu">
                <li (click)="addIngredientsToList()"> <a> To shopping list </a> </li>
                <li> <a> Edit recipe </a> </li>
                <li> <a> Delete recipe </a> </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipeService.selectedRecipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group" style="list-style: none;">
            <li *ngFor="let ingredient of recipeService.selectedRecipe.ingredients"> 
                {{ ingredient.name }} - {{ ingredient.amount }}    
            </li>
        </ul>
    </div>
</div>